[alias]
	co = checkout
	root = rev-parse --show-toplevel
	tree = log --oneline --all --graph
	undo = revert
	mergetest = "!f(){ git merge --no-commit --no-ff \"$1\"; git merge --abort; echo \"Merge aborted\"; };f "
